
body{
    margin: 0;
    background-color: rgb(228, 228, 228);
}

header{
    height: 80px;
    background-color: rgb(212, 212, 212);
    line-height: 2;
}

header h1{
    width: 100%;
    text-align: center;
    font-family: 'Billabong', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
    margin: 0;
}

#content{
    display: flex;
    justify-content: center;
}

.feed{
    display: block;
    width: 35%;
    margin-top: 60px;
    background-color: rgb(212, 212, 212);
}

.head-feed{
    height: 50px;
}

.feed section p{
    font-size: 13px;
}

.feed section:first-child > p{
    float: left;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feed section .html{
    float: left;
    font-size: 30px;
    margin: 5px;
}

.feed section:first-child > time{
    float: right;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(141, 141, 141);
}

.feed .menu{
    float: right;
    margin: 10px;
    font-size: 25px;
}

.feed > article > img{
    width: 100%;
}

.text{
    height: 7rem;
}

.feed .text > p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px;
    margin-left: 10px;
}

.feed .text > .icon{
    margin: 5px;
}

.icon #save{
    float: right;
}

.icon span{
    margin: 5px;
}

.text strong{
    margin: 5px 10px 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
